<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{mensaje}} </p>
    {% if articulos %}
        <ul>
            <p>Se encontraron {{articulos|length}} articulos </p>
            {% for art in articulos %}
                <li>
                    {{art.nombre}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>no se encuentra en la lista</p>
    {% endif %}
        
</body>
</html>